.header {
  border:none !important;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08)) !important;
  background-color: var(--main-color) !important;
  position: sticky;
  top: 0%;
  z-index: 2;
}
.mainNavLink {
  text-decoration: none;
  margin-right: 1rem;
  color: #fff;
  position: relative;
  overflow: hidden;

  transition: 0.3s ease-in-out;
}
.brand-link{

  text-decoration: none;
  margin-right: 1rem;
  color: #fff;
  position: relative;
  overflow: hidden;

  transition: 0.3s ease-in-out;
}
.mainNavLink::before{
position:absolute;
bottom: 0%;
width: 0%;
height: 4px;
transition: 0,3s ease-in-out;
content: "";
background-color: #fff;
transform-origin: center;
} 

.mainNavLink:hover::before,
.mainNavLink:active::before{
  width: 100%;
}
.interceptor {
  justify-content: flex-end;
}
.ps-2rem {
  padding-inline-start: 2rem !important;
}
.header-main {
  background-color: var(--main-color) !important;
}
.logo-img {
  height: 28px;
  width: 120px;
}

.information_details p:first-child {
  line-height: 0.7;
  padding-top: 10px;
}
.profile-img-wrapper img {
  object-fit: cover;
  width: 100%;
}
.information__content {
  display: flex;
  padding-right: 1.5rem;
  position: relative;
  gap: 1rem;
}
.information__content p {
  margin-bottom: 0;
}

.profile-img-wrapper {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img-wrapper img {
  object-fit: cover;
  width: 100%;
}

.brand-logo {
  display: inline-block;
  padding: 5px;
  margin-left: 2rem;
}
.brand-logo img {
  height: 28px;
  width: 120px;
}
.adjust-padding {
  padding-right: 15px !important;
}
.show-list {
  min-width: 200px !important;
  right: 10%;
  position: absolute;
  z-index: 2;
  top: 120% !important;
  border-radius: 0 !important ;
}
.show-list::after {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  /* background-color: red; */
  background-color: #fff;
  z-index: -1;
  right: 5%;
  top: -3%;
  transform: rotate(45deg);
}
.main-wrapper {
  border: 4px solid rebeccapurple;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 8px 15px !important;
  gap: 0.5rem;
}
.menu-item:hover {
  color: #fff;
  background: #eee !important;
}
.menu-item:hover {
  background-color: inherit;
}
