*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid; */
}

/* 01031a */


:root {
  --main-color: #01031a;
  /* --neutral-main: #343a40;
  --neutral-main-bg: #3a3f4800;
  --neutral-secondary-color: #6c7b88;
  --primary-radius: 0.375rem;
  --edge-color: #dee2e6; */
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("./assets/fonts/Raleway/Raleway-SemiBold.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span,
aside,
input,
div,
a {
  color: var(--neutral-main);
  font-family: "Raleway-Regular";
}
body {
  font-family: "Raleway-Regular";
}
